.contact {
  padding: 128px 120px 200px;
  background: url(../assets/images/Background_Contacts.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}


.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contact-label {
  color: var(--primary-purple);
  font: var(--subtitle);
}

.contact-info .description {
  font: var(--text-md);
  color: var(--base-gray-200);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-list li {
  width: 400px;
  padding: 20px;
  background-color: var(--base-gray-400);
  border-radius: 8px;
}

.contact-list a {
  display: flex;
  gap: 12px;
  align-items: center;
}

.socialMidia-name {
  flex: 1;
  color: var(--base-gray-200);
  font: var(--text-md);
  font-weight: 500;
}